{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div class="container">
    <a class="navbar-brand me-lg-5 me-0" href="index.html">
      <img src="images/pod-talk-logo.png" class="logo-image img-fluid" alt="templatemo pod talk">
    </a>
    <form action="#" method="get" class="custom-form search-form flex-fill me-3" role="search">
      <div class="input-group input-group-lg">
        <input name="search" type="search" class="form-control" id="search" placeholder="Search Podcast"
               aria-label="Search">

        <button type="submit" class="form-control" id="submit">
          <i class="bi-search"></i>
        </button>
      </div>
    </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {{ content }}
  </div>
{% endif %}
